* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(25, 25, 27, 1);
  font-family: sans-serif;
  padding: 20px;
  width: 375px;
  border: 1px solid black;
  height: 150vh;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f1b;
  padding: 1rem 2rem;
  margin-bottom: 20px;
}

.logo {
  color: #e6e6e9;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.hamburger {
  display: none;
  height: auto;
  cursor: pointer;
  width: 40px;
  border-radius: 5px;
  color: red;
}

.h {
  font-family: 'graphik', sans-serif;
  font-size: 42px;
  line-height: 150%;
  color: antiquewhite;
  margin-bottom: 20px;
}

.p {
  font-family: 'nunito san', sans-serif;
  font-size: 16px;
  color: antiquewhite;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.service-btn {
  font-size: 16px;
  padding: 10px, 20px;
  background-color: lightblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.img-position { 
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-top: 50px;
}

.img-position2 {
  display: block;
  margin-right: auto;
  margin-left: 0;
  margin-top: 5px;
}

.img-position4 {
  display: block;
  margin-right: 0;
  margin-left: auto;
  margin-top: 20px;
}
